@model DesignPattern.WebApp.Entity.VmBehavioralDesignPatterns
@{
    ViewBag.Title = "BehavioralPatterns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Creational Patterns</h1>
<div class="row">
    <hr>

    <table class="table table-bordered col-md-6">
        <tbody>
        <tr>
            <th style="text-align: center; width: 5%;">S.N.</th><th>Behavioral Patterns</th>
        </tr>
        @foreach (var item in Model.BehavioralDesignPatterns)
        {
            <tr>
                <td style="text-align: center;">@item.Number</td>
                <td>
                    <b>
                        <a href="~/BehavioralPattern/@(item.Name)Pattern">@item.Name Pattern</a>
                    </b><br>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <p class="col-md-6">These design patterns are specifically concerned with communication between objects.</p>

</div>