@model DesignPattern.WebApp.Entity.vmStructuralDesignPatterns
@{
    ViewBag.Title = "StructuralPatterns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Structural Patterns</h1>
<div class="row">
    <hr>

    <table class="table table-bordered col-md-6">
        <tbody>
            <tr><th style="width: 5%; text-align: center;">S.N.</th><th>Structural Patterns</th></tr>
            @foreach (var item in Model.StructuralDesignPatterns)
            {
                <tr><td style="text-align: center;">@item.Number</td><td><b><a href="#">@item.Name Pattern</a></b><br></td></tr>
            }
        </tbody>
    </table>
    <p class="col-md-6">These design patterns concern class and object composition. Concept of inheritance is used to compose interfaces and define ways to compose objects to obtain new functionalities.</p>

</div>