@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Design Patterns</h1>
    <p class="lead">Design patterns represent the best practices used by experienced object-oriented software developers. Design patterns are solutions to general problems that software developers faced during software development. These solutions were obtained by trial and error by numerous software developers over quite a substantial period of time.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
        <h2>Creational Patterns</h2>
        <p>
            These design patterns provide a way to create objects while hiding the creation logic, rather than instantiating objects directly using new operator. This gives program more flexibility in deciding which objects need to be created for a given use case.
        </p>
        <p><a class="btn btn-default" href="~/DesignPattern/CreationalPatterns">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Structural Patterns</h2>
        <p>These design patterns concern class and object composition. Concept of inheritance is used to compose interfaces and define ways to compose objects to obtain new functionalities.</p>
        <p><a class="btn btn-default" href="~/DesignPattern/StructuralPatterns">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Behavioral Patterns</h2>
        <p>These design patterns are specifically concerned with communication between objects.</p>
        <p><a class="btn btn-default" href="~/DesignPattern/BehavioralPatterns">Learn more &raquo;</a></p>
    </div>
</div>